<!-- <mat-grid-list cols="3" rowHeight="60px">
    <mat-grid-tile>
        <ngl-input label="Project ID">
            <input ngl type="input" placeholder="Project Title">
          </ngl-input>
    </mat-grid-tile>
    <mat-grid-tile>
        <ngl-input label="Project Description">
            <input ngl type="input" placeholder="Text">
          </ngl-input>
    </mat-grid-tile>
    <mat-grid-tile>
        <ngl-input label="Comment">
            <input ngl type="input" placeholder="Text">
          </ngl-input>
    </mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
    <mat-grid-tile>9</mat-grid-tile>
    <mat-grid-tile>10</mat-grid-tile>
    <mat-grid-tile>11</mat-grid-tile>
    <mat-grid-tile>12</mat-grid-tile>
    <mat-grid-tile>13</mat-grid-tile>
    <mat-grid-tile>14</mat-grid-tile>
    <mat-grid-tile>15</mat-grid-tile>
    <mat-grid-tile>16</mat-grid-tile>
    <mat-grid-tile>17</mat-grid-tile>
    <mat-grid-tile>18</mat-grid-tile>
    <mat-grid-tile>19</mat-grid-tile>
    <mat-grid-tile>20</mat-grid-tile>
    <mat-grid-tile>21</mat-grid-tile>
    <mat-grid-tile>22</mat-grid-tile>
    <mat-grid-tile>23</mat-grid-tile>
    <mat-grid-tile>24</mat-grid-tile>
</mat-grid-list> -->
<div class="slds-grid slds-gutters slds-wrap">
  <div class="slds-col slds-size_3-of-12">
    <ngl-input label="Project ID">
        <input ngl type="input" placeholder="Project Title">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_3-of-12">
    <ngl-input label="Project Description">
        <input ngl type="input" placeholder="Text">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_6-of-12">
    <ngl-input label="Comment">
        <input ngl type="input" placeholder="Text">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_3-of-12">
    <div class="slds-form-element__control">
        <span class="slds-radio">
          <input type="radio" id="radio-61" value="radio-61" name="default" checked="" />
          <label class="slds-radio__label" for="radio-61">
            <span class="slds-radio_faux"></span>
            <span class="slds-form-element__label">Radio Label One</span>
          </label>
        </span>
    </div>
  </div>
  <div class="slds-col slds-size_3-of-12">
    <ngl-input label="Closed Date">
        <input ngl type="input">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_6-of-12">
    <ngl-input label="Closed By">
        <input ngl type="input">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_3-of-12">
    <ngl-input label="Version">
        <input ngl type="input">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_3-of-12">
    <ngl-input label="Version Description">
        <input ngl type="input">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_3-of-12">
    <ngl-input label="Note">
        <input ngl type="input">
      </ngl-input>
  </div>
  <div class="slds-col slds-size_3-of-12">
    <ngl-input label="DB Version">
        <input ngl type="input" disabled>
      </ngl-input>
  </div>
  
</div>
